@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(360deg, #13004a, #000000, #000000);
  color: white;
}

.main-content {
  padding-top: 80px;
  text-align: center;
}

.main-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.main-content p {
  font-size: 1.2rem;
  font-style: italic;
}

.navbar {
  position: fixed;
  width: 90%;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 2rem;
  background: rgba(85, 0, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(83, 0, 207, 0.2);
}

.purple {
  color: #a57df4;
}


.logo {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 40px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #a57df4;
}

.menu-icon {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive nav */
@media (max-width: 768px) {
  .navbar {
    width: 80%;
  }
  .nav-links {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #1a0033;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  background: rgba(85, 0, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(83, 0, 207, 0.2);
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-template-rows: repeat(5, 40px);
  gap: 5px;
  margin: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 2px solid #a57df4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  border: 2px solid #a57df4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.empty {
  border: none;
}